   <div  class="form-group">
            <label for="make">Make :</label>
            <div class="details">
                <input  type="text" id="make" placeholder="{{editedVehicle.make}}" autofocus>

            </div>

            <label for="model" >Model :</label>
            <div class="details" >
                <input  type="text" id="model" placeholder="{{editedVehicle.model}}"  autofocus>            
            </div>

            <label for="year" >Year :</label>
            <div class="details" >
                <input  type="text" id="year" placeholder="{{editedVehicle.year}}"  autofocus>
            </div>

        </div>

         
       
        
